*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #0F2C59 !important;
}
/* SAMPLE REJECT APPROVE */
.sample-reject-pass {
  padding: 100px 0;
}
.button-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.button-div div {
  width: 40%;
}
.button-div div input[type="radio"] {
  display: none;
}
.button-div label {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
}
label.btn-reject {
  background-color: #dc3545;
}
label.btn-reject.checked{
  background-color: #b02a37;
}
label.btn-approve {
  background-color: #198754;
}
label.btn-approve.checked {
  background-color: #146c43;
}
.form-floating .form-control {
  padding-bottom: 50px !important;
}

.form-floating label,
.dropdown label {
  color: black;
}
.dropdown ul{
  padding: 10px 20px;
}
.dropdown button{
  width: 100%;
}
.save-cancel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.save-cancel button {
  margin: 0 20px;
}
.with-options {
  margin-bottom: 300px;
}
